<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InitialDBScript" value="init_create_db.sql"/>
    <add key="InitCardTableScript" value="init_card_create.sql"/>
    <add key="InitStackTableScript" value="init_stack_create.sql"/>
    <add key="InitStackDefaultScript" value="initStackDefault.sql"/>
    <add key="notImplementedMsg" value="Not Yet Implemented. Please check back later."/>
    <add key="DbName" value="Flash Cards"/>
    <add key="CardTableName" value="cards"/>
    <add key="StackTableName" value="stacks"/>
    <!-- Filenames for the various menus I am loading into memory -->
    <add key="MainMenu" value="Main.txt"/>
    <add key="FlashCard" value="FlashCards.txt"/>
    <add key="EditFlashCard" value="EditFlashCards.txt"/>
    <add key="Stack" value="Stack.txt"/>
    <add key="StudySession" value="StudySession.txt"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name ="DB"
         providerName="Microsoft.SqlClient.Data"
         connectionString="Server=(LocalDB)\MyLocalDB;Trusted_Connection=True;Initial Catalog=Flash Cards" />
  </connectionStrings>
</configuration>